.personal-account-dark {
    background-color: black;
    color: white;
    border-bottom: 1px solid rgb(66, 66, 70);
}

.personal-account-light {
    background-color: white;
    color: black;
    border-bottom: 1px solid #D6D6D6;
}

.personal-account {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    padding: 0 18%;
    padding-top: calc(100px + 100 * (100vw / 1920));
    padding-bottom: calc(100px + 100 * (100vw / 1920));
    transition: 0.5s;

    .personal-account__block-image {
        width: calc(100% - 50% * (100vw / 1920));
        height: calc(226px + 400 * (100vw / 1920));
        display: flex;
        justify-content: center;

        .block-image__image {
            width: 49%;
            height: 100%;
            object-fit: contain;
            margin: 0 10px;

        }

        .block-image__small {
            width: 52%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;

            .block-image__small-1 {
                width: 100%;
                height: 57%;
                object-fit: contain;
                margin: 4%;

            }

            .block-image__small-2 {
                width: 100%;
                height: 40%;
                object-fit: contain;
                margin: 4%;

            }

        }

    }

    @media screen and (max-width: 1200px) {
        .personal-account__block-image {
            margin-top: 50px;
            display: flex;
            justify-content: center;
        }
        
    }

    @media screen and (max-width: 900px) {
        .personal-account__block-image {
            // width: 60%;
        }
        
    }

    .personal-account__description {
        width: 40%;
        margin-left: 50px;

        .description__button {
            width: auto;
            height: auto;
            padding: 21px 48px;
            background: rgba(46, 156, 62, 0.05);
            border: 1px solid #2E9C3E;
            color: #2E9C3E;
            border-radius: 10px;
            margin-top: 30px;
            font-size: calc(15px + 5 * (100vw / 1920));

        }

        @media screen and (max-width: 600px) {
            .description__button {
                width: 100%;
        
            }
            
        }

    }

    @media screen and (max-width: 1200px) {
        .personal-account__description {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 0;
            margin-top: 50px;
    
        }
        
    }

}

@media screen and (max-width: 1200px) {
    .personal-account {
        display: flex;
        flex-direction: column;
        align-items: center;

    }
    
}