@keyframes spawn {
    0% {
        transform: translateY(-50%) scale(0);
    } 
    100% {
        transform: translateY(0), scale(1);

    }

}

.backgroundd-modal {
    min-width: 100%;
    min-height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    z-index: 100;

    .modal-dark {
        background-color: black;
        color: white;
    }
    
    .modal-light {
        background-color: white;
        color: black;
    }

    .modal-login {
        width: 391px;
        height: calc(281px + 420 * (100vw / 1920));
        margin-top: calc(15px + 35 * (100vw / 1920));
        border: 1px solid #424246;
        border-radius: 15px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        animation-duration: 0.7s;
        animation-name: spawn;

        .modal__title {
            font-weight: 600;
            font-size: calc(15px + 15 * (100vw / 1920));
            line-height: 38.5%;
            margin-bottom: 30px;
            text-align: start;
        }

        .modal__input {
            width: 83%;
            height: calc(40px + 18 * (100vw / 1920));
            background: rgba(255, 255, 255, 0.05);
            border: 1px solid #424246;
            border-radius: 10px;
            margin-top: 15px;
            padding: 10px;
            color: #2E9C3E;
            font-size: calc(8px + 8 * (100vw / 1920));

            &:focus {
                border: 1px solid #2E9C3E;
                outline: none;
            }

        }

        .modal__forgot-dark {
            margin-top: 15px;
            font-weight: 400;
            font-size: calc(8px + 7 * (100vw / 1920));
            line-height: 17px;
            color: rgba(255, 255, 255, 0.5);
            cursor: pointer;
        }

        .modal__forgot-light {
            margin-top: 15px;
            font-weight: 400;
            font-size: calc(8px + 7 * (100vw / 1920));
            line-height: 17px;
            color: rgba(0, 0, 0, 0.5);
            cursor: pointer;
        }

        // .nodal__register {
        //     margin-top: 130px;
        //     font-weight: 400;
        //     font-size: 0.75rem;
        //     line-height: 17px;
        //     opacity: 0.8;

        //     .nodal__register-button {
        //         color: #2E9C3E;
        //         cursor: pointer;

        //     }

        // }

        .modal__button {
            width: 83%;
            height: calc(40px + 10 * (100vw / 1920));
            background: #2E9C3E;
            border: 1px solid #2E9C3E;
            border-radius: 10px;
            color: white;
            margin-top: calc(50px + 250 * (100vw / 1920));
            font-size: calc(8px + 8 * (100vw / 1920));

        }

        @media only screen and (max-width: 1400px) {
            .modal__button {
                margin-top: calc(50px + 100 * (100vw / 1920));
    
            }
        
        }

    }

    @media only screen and (max-width: 1400px) {
        .modal-login {
            width: 321px;
            height: calc(281px + 220 * (100vw / 1920));

        }
    
    }

    @media only screen and (max-width: 600px) {
        .modal-login {
            width: 90%;

        }
    
    }

}