.social-opportunities-dark {
    background-color: black;
    color: white;
    border-bottom: 1px solid rgb(66, 66, 70);
}

.social-opportunities-light {
    background-color: white;
    color: black;
    border-bottom: 1px solid #D6D6D6;
}


.social-opportunities {
    min-width: 76rem;
    height: auto;
    display: flex;
    justify-content: space-between;
    padding: 12.5rem 0;
    transition: 0.5s;

    .social-opportunities__description {
        width: 37.62rem;

        .description__subtitle {
            font-weight: 400;
            font-size: 1.87rem;
            line-height: 125%;
            position: relative;
            margin-left: 20px;
            margin-top: 2.18rem;

            &::after {
                content: '';
                position: absolute;
                width: 4px;
                height: 20px;
                background-color: #2E9C3E;
                border-radius: 5px;
                left: -20px;
                top: 5px;

            }

        }

        .description__text-dark {
            font-weight: 400;
            font-size: calc(8px + 13 * (100vw / 1920));
            line-height: 170%;
            margin-top: 3px;
            color: rgba(255, 255, 255, 0.5);
        
        }

        .description__text-light {
            font-weight: 400;
            font-size: calc(8px + 13 * (100vw / 1920));
            line-height: 170%;
            margin-top: 3px;
            color: rgba(0, 0, 0, 0.5);
        
        }

        @media screen and (max-width: 1400px) {
            .description__text-dark {
                font-weight: 300;
                font-size: calc(8px + 11 * (100vw / 1920));
            
            }
    
            .description__text-light {
                font-weight: 300;
                font-size: calc(8px + 11 * (100vw / 1920));

            
            }
            
        }

        @media screen and (max-width: 1200px) {
            .description__subtitle  {
                display: flex;
                justify-content: center;
        
            }
            
        }

    }

    @media screen and (max-width: 1200px) {
        .social-opportunities__description {
            margin-top: 50px;
            width: 70%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

        }
        
    }

    @media screen and (max-width: 700px) {
        .social-opportunities__description {
            width: 50%;

        }
        
    }

    @media screen and (max-width: 550px) {
        .social-opportunities__description {
            width: 30%;

        }
        
    }

    .social-opportunities__block-image {
        width: 30.93rem;
        height: 39.06rem;
        display: flex;
        justify-content: center;
        margin-right: 15%;

        .social-opportunities__image {
            width: 100%;
            height: 100%;
            object-fit: contain;
            
            &:first-child {
                z-index: 3;
            }

            &:nth-child(2) {
                z-index: 2;
            }

            &:last-child {
                z-index: 1;
            }
        }
        
    }

    @media screen and (max-width: 1200px) {
        .social-opportunities__block-image {
            width: 70%;
            height: 35.06rem;
            margin-right: 27%;
        }
        
    }

    @media screen and (max-width: 700px) {
        .social-opportunities__block-image {
            width: 50%;
            height: 30.06rem;
            margin-right: 28%;
        }
        
    }

    @media screen and (max-width: 550px) {
        .social-opportunities__block-image {
            width: 30%;
            height: 25.06rem;
            margin-right: 30%;
        }
        
    }

}

@media screen and (max-width: 1200px) {
    .social-opportunities  {
        max-width: 70%;
        display: flex;
        flex-direction: column-reverse;
        align-items: center;

    }
    
}



