@media screen and (max-width: 1155px) {
    .social-opportunities {
        padding: 0 5% 50px;
        display: flex;
        flex-direction: column-reverse;
        align-items: center;

    }
    
}