.crypto-wallet-dark {
    background-color: black;
    color: white;
    border-bottom: 1px solid rgb(66, 66, 70);
}

.crypto-wallet-light {
    background-color: white;
    color: black;
    border-bottom: 1px solid #D6D6D6;
}

.crypto-wallet {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    padding: 0 18%;
    padding-top: calc(50px + 100 * (100vw / 1920));
    padding-bottom: calc(50px + 100 * (100vw / 1920));
    transition: 0.5s;

    .crypto-wallet__block-image {
        width: calc(100% - 50% * (100vw / 1920));
        height: calc(226px + 400 * (100vw / 1920));
        display: flex;
        justify-content: center;
        margin: 0 10px;

        .crypto-wallet__image {
            width: 48%;
            height: 100%;
            object-fit: contain;
            margin: 0 calc(10px + 10 * (100vw / 1920));

            &:nth-child(2) {
                margin-top: 40px;
            }
    
        }

    }

    .crypto-wallet__description {
        width: 40%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
        margin: 0 40px;

    }

    @media screen and (max-width: 1200px) {
        .crypto-wallet__description {
            margin: 0;
            margin-top: calc(50px + 100 * (100vw / 1200));
            width: 100%;
            
        }
        
    }

    @media screen and (max-width: 900px) {
        .crypto-wallet__description {
            width: 100%;

        }
        
    }

}

@media screen and (max-width: 1200px) {
    .crypto-wallet {
        display: flex;
        flex-direction: column;
        align-items: center;

    }
    
}