.crypto-wallet-dark {
    background-color: black;
    color: white;
    border-bottom: 1px solid rgb(66, 66, 70);
}

.crypto-wallet-light {
    background-color: white;
    color: black;
    border-bottom: 1px solid #D6D6D6;
}

.crypto-wallet {
    min-width: 76rem;
    height: auto;
    display: flex;
    justify-content: space-between;
    padding: 12.5rem 0;
    transition: 0.5s;

    .crypto-wallet__block-image {
        width: 37.37rem;
        height: 42.25rem;
        display: flex;
        justify-content: space-between;

        .crypto-wallet__image {
            width: 18.06rem;
            height: 100%;
            object-fit: contain;

            &:nth-child(2) {
                margin-top: 3.12rem;
            }
    
        }

        @media screen and (max-width: 1200px) {
            .crypto-wallet__image  {
                margin: 10px;
                
            }
            
        }

    }

    @media screen and (max-width: 1200px) {
        .crypto-wallet__block-image {
            height: 35.06rem;
            width: 70%;
            display: flex;
            justify-content: center;
            
        }
        
    }

    @media screen and (max-width: 700px) {
        .crypto-wallet__block-image {
            width: 50%;
            height: 30.06rem;
        }
        
    }

    @media screen and (max-width: 550px) {
        .crypto-wallet__block-image {
            width: 30%;
            height: 25.06rem;
        }
        
    }

    .crypto-wallet__description {
        width: 30.93rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 7.43rem 0;

    }

    @media screen and (max-width: 1200px) {
        .crypto-wallet__description {
            margin: 0;
            margin-top: calc(50px + 100 * (100vw / 1200));
            width: 70%;
            
        }
        
    }

    @media screen and (max-width: 700px) {
        .crypto-wallet__description {
            width: 50%;

        }
        
    }

    @media screen and (max-width: 550px) {
        .crypto-wallet__description {
            width: 30%;

        }
        
    }

}

@media screen and (max-width: 1200px) {
    .crypto-wallet {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;

    }
    
}


