.briefly-dark {
    background-color: black;
    color: white;
    border-bottom: 1px solid rgb(66, 66, 70);
}

.briefly-light {
    background-color: white;
    color: black;
    border-bottom: 1px solid #D6D6D6;
}

.briefly {
    width: 76rem;
    height: auto;
    display: flex;
    justify-content: space-between;
    padding: 12.5rem 0;
    transition: 0.5s;

    .briefly__image {
        width: 18.06rem;
        height: 39.12rem;
        object-fit: contain;

    }

    @media screen and (max-width: 1200px) {
        .briefly__image {
            width: 80%;

        }
        
    }

    
    @media screen and (max-width: 700px) {
        .briefly__image {
            width: 70%;

        }
        
    }

    @media screen and (max-width: 550px) {
        .briefly__image {
            width: 60%;

        }
        
    }

    .briefly__description {
        width: 43.81rem;
        margin-top: 8.18rem;

        .wrapper-line {
            width: 100%;
            height: 2px;
            display: flex;
            margin-top: 50px;

            .line-progress {
                width: 72%;
                height: 100%;
                background: #2E9C3E;

            }

            .line {
                width: 38%;
                height: 100%;
                background: #424246;

            }

        }

        .line-text {
            font-weight: 500;
            font-size: calc(18px + 5 * (100vw / 1920));
            color: #2E9C3E;
            margin-top: 1.87rem;

        }

    }

    
    @media screen and (max-width: 1200px) {
        .briefly__description {
            margin-top: 3.12rem;
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
    
        }

    }

}

@media screen and (max-width: 1200px) {
    .briefly  {
        width: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;

    }

}

