.news-block {
    width: 76rem;
    height: auto;
    margin-top: 3.12rem;
    display: flex;
    justify-content: space-between;

    .news-block__image {
        width: 43.81rem;
        height: 36.25rem;
        background-image: url(./image/NewsBlockImage.png);
        background-size: cover;
        border-radius: 0.62rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .image__top {
            width: 100%;
            height: auto;
            padding: 1.87rem;
            background: linear-gradient(rgb(0, 0, 0), rgba(255, 255, 255, 0));

            .image__top-title {
                font-weight: 400;
                font-size: 2.25rem;
                line-height: 145%;
                color: white;

            }

        }

        .image__bottom {
            width: 100%;
            height: auto;
            display: flex;
            justify-content: space-around;
            padding: 1.87rem;
            background: linear-gradient(rgba(255, 255, 255, 0), rgb(0, 0, 0));

            .image__bottom-text {
                font-weight: 400;
                font-size: 1.5rem;
                line-height: 29px;
                color: white;

            }

        }

    }

    @media only screen and (max-width: 1200px) {
        .news-block__image {
            width: 100%;
            margin-top: 10px;
    
        }
    
    }

    .news-block__aside {
        width: 33%;

        .aside__block-button {
            width: 100%;
            display: flex;

            .aside__button-dark {
                width: auto;
                height: auto;
                background: rgba(255, 255, 255, 0.05);
                border: 1px solid #424246;
                border-radius: 0.62rem;
                padding: 0.75rem 1.37rem;
                color: white;
                margin-right: 20px;
                font-size: 1.12rem;

            }

            .aside__button-light {
                width: auto;
                height: auto;
                background: rgba(255, 255, 255, 0.05);
                border: 1px solid #424246;
                border-radius: 0.62rem;
                padding: 0.75rem 1.37rem;
                color: black;
                margin-right: 20px;
                font-size: 1.12rem;

            }

            @media only screen and (max-width: 1200px) {
                .aside__button-dark {
                    margin: 0 10px;
    
                }
    
                .aside__button-light {
                    margin: 0 10px;
    
                }
            
            }

            @media only screen and (max-width: 600px) {
                .aside__button-dark {
                    width: 48%;
                    margin: 0;
    
                }
    
                .aside__button-light {
                    width: 48%;
                    margin: 0;
    
                }
            
            }

        }

        @media only screen and (max-width: 1200px) {
            .aside__block-button {
                display: flex;
                justify-content: center;
        
            }
        
        }

        @media only screen and (max-width: 600px) {
            .aside__block-button {
                display: flex;
                justify-content: space-between;
        
            }
        
        }

        .news-block__posts {
            width: 100%;
            height: auto;
            margin-top: 20px;

            .posts__block {
                width: 100%;
                border-bottom: 1px solid rgb(66, 66, 70);
                padding: 10px 0;

                .posts__text {
                    font-weight: 300;
                    font-size: 1.25rem;
                    line-height: 160%;
                }

                @media only screen and (max-width: 1200px) {
                    .posts__text {
                        text-align: center;
                    }
                
                }

            }

        }

    }

    @media only screen and (max-width: 1200px) {
        .news-block__aside {
            width: 100%;
            margin-top: 20px;
    
        }
    
    }

    @media only screen and (max-width: 800px) {
        .news-block__aside {
            width: 100%;
    
        }
    
    }

}

@media only screen and (max-width: 1200px) {
    .news-block {
        width: 90%;

    }

}