.admin-news-dark {
    color: white;
}

.admin-news-light {
    color: black;
}

.admin-news {
    width: 100%;
    height: 100%;
    padding: 30px;

    .admin-news__header {
        width: 100%;

        .header__button {
            width: auto;
            padding: 1rem 1.56rem;
            margin-right: 0.62rem;

        }

    }

}