.admin__header {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;

    .header-wrapper {
        width: 95%;
        height: auto;
        padding: 1.87rem;
        border-bottom: 1px solid rgb(66, 66, 70);
        display: flex;
        justify-content: space-between;
        align-items: center;

        .header__title {

        }
    
        .header__content {
    
            display: flex;
            justify-content: space-between;
            align-items: center;
    
            .content__input-dark {
                width: 350px;
                height: 3.13rem;
                background: #1C1C1E;
                border: 1px solid #424246;
                border-radius: 0.62rem;
                padding: 0.62rem;
                color: #2E9C3E;
                
                &:focus {
                    outline: 1px solid #2E9C3E;
        
                }
    
            }
    
            .content__input-light {
                width: 350px;
                height: 3.13rem;
                background: #F5F5F5;
                border: 1px solid #D6D6D6;
                border-radius: 0.62rem;
                padding: 0.62rem;
                color: #2E9C3E;
    
                &:focus {
                    outline: 1px solid #2E9C3E;
        
                }
    
            }
    
            .setting__theme {
                width: 3.43rem;
                height: 3.13rem;
                background: rgba(0, 0, 0, 0.05);
                border: 1px solid #D6D6D6;
                border-radius: 0.62rem;
                display: flex;
                justify-content: center;
                align-items: center;
                margin-left: 15px;
    
                .setting__theme-icon-dark {
                    width: 1.37rem;
                    height: 1.37rem;
                    background-image: url(./images/themeDark.svg);
                    background-size: cover;
                }
    
                .setting__theme-icon-light {
                    width: 1.37rem;
                    height: 1.37rem;
                    background-image: url(./images/themeLight.svg);
                    background-size: cover;
                }
    
            }
    
        }

    }

}