.admin__nav-dark {
    background: #1C1C1E;
}

.admin__nav-light {
    background: #F5F5F5;
}

.admin__nav {
    height: 100%;
    transition: 0.3s;

    .nav__header {
        width: 100%;
        height: auto;
        border-bottom: 1px solid rgb(66, 66, 70);
        padding: 1.87rem 0;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .header__image {
            width: 8rem;
            height: 3.37rem;
            display: flex;
            align-items: center;
            justify-content: space-between;


            .image {
                width: 3.18rem;
                height: 100%;
                background-image: url(./images/titleImage.svg);
                background-size: contain;
                background-repeat: no-repeat;
            }

            .text {
                width: 4.18rem;
                height: 1rem;
                background-image: url(./images/titleText.svg);
                background-size: contain;
                background-repeat: no-repeat;
            }

        }

        .header__button {
            width: 0.9rem;
            height: 1.5rem;
            background-image: url(./images/headerArrow.svg);
            background-size: cover;
            cursor: pointer;
            transition: 0.5s;
        }

        .header__button-active {
            transform: rotate(180deg);        
 
        }

    }

    .nav__management {
        width: 100%;
        height: auto;
        margin-top: 1.41rem;

        .management__title {
            height: 2rem;
            font-weight: 500;
            font-size: 1.25rem;
            line-height: 29px;
            transition: 0.5s;
        }

        .management__title-active {
            transform: scale(0);
        }

        .management__nav {
            width: 100%;
            height: auto;
            margin-top: 1.41rem;

            .nav__button-dark {
                color: white;
    
            }
            .nav__button-light {
                color: black;
    
            }

            .nav__button {
                width: 100%;
                padding: 1rem;
                background: rgba(255, 255, 255, 0.05);
                border: 1px solid #424246;
                border-radius: 0.62rem;
                margin: 0.5rem 0;
                display: flex;
                align-items: center;

                .button__image {
                    width: 1.5rem;
                    height: 1.5rem;
                    object-fit: contain;
                }

                .button__text {
                    margin-left: 0.75rem;
                }

            }

        }

        .button__end-dark {
            color: white;

        }
        .button__end-light {
            color: black;

        }

        .button__end {
            width: 100%;
            padding: 1rem;
            background: rgba(255, 255, 255, 0.05);
            border: 1px solid #424246;
            border-radius: 0.62rem;
            margin: 3rem 0;
            display: flex;
            align-items: center;

            .button__text {
                margin-left: 0.75rem;
            }

        }


    }


}