.timeline-dark {
    background-color: black;
    color: white;
    border-bottom: 1px solid rgb(66, 66, 70);
}

.timeline-light {
    background-color: white;
    color: black;
    border-bottom: 1px solid #D6D6D6;
}

.timeline {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    padding: 0 18%;
    padding-top: calc(100px + 100 * (100vw / 1920));
    padding-bottom: calc(100px + 100 * (100vw / 1920));
    transition: 0.5s;

    .timeline__description {
        width: 40%;
        margin-top: 100px;

        .description__button {
            width: auto;
            height: auto;
            padding: 21px 43px;
            background: rgba(46, 156, 62, 0.05);
            border: 1px solid #2E9C3E;
            border-radius: 10px;
            color: #2E9C3E;
            margin-top: 30px;
            font-size: calc(15px + 5 * (100vw / 1920));

        }

        @media screen and (max-width: 600px) {
            .description__button {
                width: 90vw;
    
            }
            
        }

    }

    @media screen and (max-width: 1200px) {
        .timeline__description {
            width: 60%;
            margin-top: 50px;
            display: flex;
            flex-direction: column;
            align-items: center;
    
        }
        
    }

    @media screen and (max-width: 900px) {
        .timeline__description {
            margin-top: 50px;
            width: 100%;

        }
        
    }

    .timeline__block-image {
        width: 49%;
        height: 891px;
        display: flex;
        align-items: center;

        .timeline__image1 {
            width: 49%;
            object-fit: contain;
            margin: 0 10px;
        }

        .timeline__block-right {
            width: 49%;

            .timeline__image2 {
                width: 100%;
                object-fit: contain;
                margin: 10px;
            }

            .timeline__image3 {
                width: 100%;
                object-fit: contain;
                margin: 10px;
            }

        }

    }

    @media screen and (max-width: 1200px) {
        .timeline__block-image {
            margin-top: 50px;
        }
        
    }

    
    @media screen and (max-width: 900px) {
        .timeline__block-image {
            width: calc(70% - 30 * (100vw / 900));
        }
        
    }

    @media screen and (max-width: 600px) {
        .timeline__block-image {
            width: 80%;
            height: 350px;
        }
        
    }

}

@media screen and (max-width: 1200px) {
    .timeline {
        padding: 5%;
        padding-top: calc(30px + 100 * (100vw / 1920));
        padding-bottom: calc(50px + 100 * (100vw / 1920));
        display: flex;
        flex-direction: column-reverse;
        align-items: center;

    }
    
}