.timeline-dark {
    background-color: black;
    color: white;
    border-bottom: 1px solid rgb(66, 66, 70);
}

.timeline-light {
    background-color: white;
    color: black;
    border-bottom: 1px solid #D6D6D6;
}

    .timeline {
        min-width: 76rem;
        height: auto;
        display: flex;
        justify-content: space-between;
        padding: 12.5rem 0;
        transition: 0.5s;
    
        .timeline__description {
            width: 30.93rem;
            margin-top: 8.18rem;
    
            .description__button {
                width: auto;
                height: auto;
                padding: 1.31rem 2.68rem;
                background: rgba(46, 156, 62, 0.05);
                border: 1px solid #2E9C3E;
                border-radius: 0.62rem;
                color: #2E9C3E;
                margin-top: 1.87rem;
                font-size: 1.25rem;
    
            }
    
            @media screen and (max-width: 600px) {
                .description__button {
                    width: 90vw;
        
                }
                
            }
    
        }
    
        @media screen and (max-width: 1200px) {
            .timeline__description {
                width: 70%;
                margin-top: 13rem;
                display: flex;
                flex-direction: column;
                align-items: center;
        
            }
            
        }
    
        @media screen and (max-width: 700px) {
            .timeline__description {
                width: 50%;
    
            }
            
        }

        @media screen and (max-width: 550px) {
            .timeline__description {
                width: 30%;
    
            }
            
        }
    
        .timeline__block-image {
            width: 37.37rem;
            height: 55.68rem;
            display: flex;
            align-items: center;
    
            .timeline__image1 {
                width: 49%;
                object-fit: contain;
                margin: 0 10px;
            }
    
            .timeline__block-right {
                width: 49%;
    
                .timeline__image2 {
                    width: 100%;
                    object-fit: contain;
                    margin: 10px;
                }
    
                .timeline__image3 {
                    width: 100%;
                    object-fit: contain;
                    margin: 10px;
                }
    
            }
    
        }
    
        @media screen and (max-width: 1200px) {
            .timeline__block-image {
                width: 40%;
                height: 40rem;
            }
            
        }
    
        
        @media screen and (max-width: 700px) {
            .timeline__block-image {
                width: 35%;
                height: 30rem;
            }
            
        }
    
        @media screen and (max-width: 550px) {
            .timeline__block-image {
                width: 27%;
                height: 25rem;
            }
            
        }
    
    }
    
    @media screen and (max-width: 1200px) {
        .timeline {
            width: 100%;
            display: flex;
            flex-direction: column-reverse;
            align-items: center;
    
        }
        
    }
    

