.about-command-dark {
    background-color: black;
    color: white;
}

.about-command-light {
    background-color: white;
    color: black;
}

.about-command {
    width: 76rem;
    height: auto;
    padding-top: 9.37rem;
    margin-bottom: 12.5rem;
    transition: 0.5s;

    .about-command__block-title {
        width: 100%;
        font-size: 3rem;
        display: flex;
        align-items: center;

        .block-title__text {
            font-weight: 500;
            font-size: 1.5rem;
            line-height: 125%;
            color: #2E9C3E;
            margin-left: 100px;

        }

    }

    @media only screen and (max-width: 600px) {
        .about-command__block-title {
            display: flex;
            flex-direction: column;
            align-items: center;

            .block-title__text {
                margin: 0px;
    
            }
    
        }
    
    }

    .about-command__block-command {
        width: 100%;
        height: auto;
        display: grid;
        grid-template-columns: 25% 25% 25% 25%;
        margin-top: 30px;

        .block-command__card {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 10px;

            .image {
                width: 100%;
                height: 289px;
                object-fit: contain;
                
            }

            .title {
                font-weight: 500;
                font-size: calc(8px + 16 * (100vw / 1920));
                line-height: 125%;
                margin-top: 15px;

            }
            
            .text-dark {
                font-weight: 400;
                font-size: calc(8px + 10 * (100vw / 1920));
                line-height: 170%;
                margin-top: 5px;
                color: rgba(255, 255, 255, 0.5);
            }

            .text-light {
                font-weight: 400;
                font-size: calc(8px + 10 * (100vw / 1920));
                line-height: 170%;
                margin-top: 5px;
                color: rgba(0, 0, 0, 0.5);

            }

        }

    }

    @media only screen and (max-width: 1000px) {
        .about-command__block-command  {
            display: grid;
            grid-template-columns: 33% 33% 33%;
    
        }
    
    }

    @media only screen and (max-width: 700px) {
        .about-command__block-command  {
            display: grid;
            grid-template-columns: 50% 50%;
    
        }
    
    }

    @media only screen and (max-width: 400px) {
        .about-command__block-command  {
            display: grid;
            grid-template-columns: 100%;
    
        }
    
    }

}

@media only screen and (max-width: 1200px) {
    .about-command {
        width: 90%;

    }

}