.roadmap-description-dark {
    background-color: black;
    color: white;
}

.roadmap-description-light {
    background-color: white;
    color: black;
}

.roadmap-description {
    width: 100%;
    height: auto;
    border-bottom: 1px solid rgb(66, 66, 70);
    padding-left: 18%;
    padding-right: 31%;
    padding-top: calc(90px + 150 * (100vw / 1920));
    padding-bottom: calc(50px + 150 * (100vw / 1920));
    transition: 0.5s;

    .roadmap-description__title {
        font-weight: 500;
        font-size: calc(12px + 33 * (100vw / 1920));
        line-height: 125%;
    }

    @media only screen and (max-width: 900px) {
        .roadmap-description__title {
            display: flex;
            justify-content: center;
        }
    }

    .roadmap-description__text {
        width: 70%;
        font-size: calc(8px + 13 * (100vw / 1920));
        margin-bottom: 100px;
    }

    @media only screen and (max-width: 900px) {
        .roadmap-description__text {
            width: 100%;
        }
    }

}

@media only screen and (max-width: 1200px) {
    .roadmap-description {
        width: 100%;

    }

}

@media only screen and (max-width: 600px) {
    .roadmap-description {
        padding: 0 5% ;
        padding-top: calc(90px + 150 * (100vw / 1920));
        padding-bottom: calc(50px + 150 * (100vw / 1920));

    }

}