.roadmap-description-dark {
    background-color: black;
    color: white;
}

.roadmap-description-light {
    background-color: white;
    color: black;
}

.roadmap-description {
    width: 100%;
    height: auto;
    border-bottom: 1px solid rgb(66, 66, 70);
    padding: 245px 14% 100px;
    transition: 0.5s;

    .roadmap-description__title {
        font-weight: 500;
        font-size: 2.25rem;
        line-height: 125%;
    }

    @media only screen and (max-width: 900px) {
        .roadmap-description__title {
            display: flex;
            justify-content: center;
        }
    }

    .roadmap-description__text {
        width: 50%;
        margin-bottom: 100px;
    }

    @media only screen and (max-width: 900px) {
        .roadmap-description__text {
            width: 100%;
        }
    }

}

@media only screen and (max-width: 600px) {
    .roadmap-description {
        padding: 245px 5% 100px;

    }

}