.roadmap-description-dark {
    background-color: black;
    color: white;
}

.roadmap-description-light {
    background-color: white;
    color: black;
}

.roadmap-description {
    width: 76rem;
    height: auto;
    padding-top: 14.62rem;
    margin-bottom: 6.25rem;
    transition: 0.5s;

    .roadmap-description__title {
        font-weight: 500;
        font-size: 3rem;
        line-height: 125%;
    }

    @media only screen and (max-width: 1200px) {
        .roadmap-description__title {
            display: flex;
            justify-content: center;
        }
    }

    .roadmap-description__text {
        width: 43.81rem;
        font-size: 1.25rem;
        margin-bottom: 9.38rem;
    }

    @media only screen and (max-width: 1200px) {
        .roadmap-description__text {
            width: 100%;
        }
    }

}

@media only screen and (max-width: 1200px) {
    .roadmap-description {
        width: 90%;

    }

}

