.admin__main-dark {
    background: black;
    color: white;
}

.admin__main-light {
    background: white;
    color: black;
}

.admin__main {
    width: 100%;
    height: auto;
    display: flex;

    .admin__content {
        height: calc(100% - 90px);
        transition: 0.3s;

        .anim__section {
            width: 100%;
            height: 100%;

        }

    }

}

.button-back {
    padding: 1rem 1.5rem;
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .button__image-dark {
        width: 0.75rem;
        height: 1rem;
        background-image: url(./image/backDark.svg);
        background-size: contain;
        background-repeat: no-repeat;
        margin-right: 1rem;
    }

    .button__image-light {
        width: 0.75rem;
        height: 1rem;
        background-image: url(./image/backLight.svg);
        background-size: contain;
        background-repeat: no-repeat;
        margin-right: 1rem;
    }

}