.news-page-dark {
    background-color: black;
    color: white;
}

.news-page-light {
    background-color: white;
    color: black;
}

.news-page {
    width: 100%;
    transition: 0.5s;
    padding-bottom: 6.25rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    .news-page-section {
        width: 76rem;
        height: auto;
        display: flex;
        justify-content: space-between;

        .section__aside {
            padding-top: 1.88rem;
            width: 18.06rem;

            .aside__title-dark{
                font-weight: 500;
                font-size: 1.12rem;
                line-height: 125%;
                color: rgba(255, 255, 255, 0.5);
                margin-bottom: 2.38rem;
            }

            .aside__title-light {
                font-weight: 500;
                font-size: 1.12rem;
                line-height: 125%;
                color: rgba(0, 0, 0, 0.5);
                margin-bottom: 2.38rem;
            }

            .aside__user {
                width: 18.06rem;
                height: 13.31rem;
                background: rgba(46, 156, 62, 0.05);
                border: 1px solid #2E9C3E;
                border-radius: 0.93rem;
                padding: 1.87rem;
                display: flex;
                flex-direction: column;
                justify-content: space-between;

                .user__image {
                    width: 5.18rem;
                    height: 5.18rem;
                    object-fit: contain;

                }

                .user__name-dark {
                    font-weight: 400;
                    font-size: 1rem;
                    line-height: 19px;
                    color: rgba(255, 255, 255, 0.5);
                    margin-top: 1rem;
                }

                .user__name-light {
                    font-weight: 400;
                    font-size: 1rem;
                    line-height: 19px;
                    color: rgba(0, 0, 0, 0.5);
                    margin-top: 1rem;
                }

                .user__email {
                    font-weight: 400;
                    font-size: 1.25rem;
                    line-height: 130%;
                }

            }

        }

        .section__content {
            width: 56.68rem;

            .content__title {
                font-weight: 500;
                font-size: 3rem;
                line-height: 125%;
                margin-bottom: 1.88rem;

            }

            .content__image {
                width: 100%;
                object-fit: contain;
                margin-bottom: 6.56rem;

            }

            .content__text-dark {
                font-weight: 400;
                font-size: 1.25rem;
                line-height: 170%;
                color: rgba(255, 255, 255, 0.8);

            }

            .content__text-light {
                font-weight: 400;
                font-size: 1.25rem;
                line-height: 170%;
                color: rgba(0, 0, 0, 0.8);
            }

        }

    }

}

.news-page__footer {
    width: 76rem;
    height: auto;
    display: flex;
    flex-direction: column;
    padding: 6.25rem 0;

    .footer__user {
        width: 50%;
        display: flex;
        align-items: flex-end;

        .user__image {
            width: 5.18rem;
            height: 5.18rem;
            object-fit: contain;
        }

        .user__info {
            width: auto;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            margin-left: 1.25rem;
            margin-bottom: 1rem;

            .user__name {
                font-weight: 400;
                font-size: 1rem;
                line-height: 19px;
            }

            .user__email {
                font-weight: 400;
                font-size: 1.25rem;
                line-height: 130%;
            }

        }

        .user__time {
            margin-left: 2.87rem;
            margin-bottom: 1rem;
            font-weight: 400;
            font-size: 1rem;
            line-height: 130%;

        }

    }

    .footer__social {
        width: 50%;
        padding: 4.37rem 0;
        display: flex;
        align-items: center;

        .social__search {
            font-weight: 400;
            font-size: 1.25rem;
            line-height: 130%;
        }

        .social__tags {
            font-weight: 400;
            font-size: 1.25rem;
            line-height: 130%;
            margin-left: 3.37rem;
        }

        .social-block {
            margin-left: 4rem;

            .social__button {
                width: 2.5rem;
                height: 2.5rem;
                background: rgba(46, 156, 62, 0.05);
                border: 1px solid #2E9C3E;
                border-radius: 50%;
                margin: 0 5px;
            }

        }

    }

    .footer__tags {
        width: 70%;
        display: flex;
        flex-wrap: wrap;

        .tag {
            width: auto;
            padding: 0.68rem 1.81rem;
            margin: 0.43rem;
            background: rgba(46, 156, 62, 0.05);
            border: 1px solid #2E9C3E;
            border-radius: 0.62rem;
            font-weight: 400;
            font-size: 1.12rem;
            line-height: 138%;
            color: #2E9C3E;
        }

    }

}
