.header-dark {
    background: black;
    color: white;
    border-bottom: 1px solid rgb(66, 66, 70);
}

.header-light {
    background: white;
    color: black;
    border-bottom: 1px solid #D6D6D6;
}

.header {
    width: 100%;
    height: auto;
    padding: 1.63rem 6.25rem 1.63rem 4.44rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    left: 0;
    top: 0;
    transition: 0.5s;
    z-index: 50;

    .header__logo-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .header__logo {
            width: 13.44rem;
            height: 5.75rem;
            background-image: url(./images/title.svg);
            background-size: contain;
            background-repeat: no-repeat;
            cursor: pointer;
        }

        .nav__buuton-wrapper {
            .nav__button {
                display: none;
            }

            @media only screen and (max-width: 1200px) {
                .nav__button {
                    display: block;
                    width: 30px;
                    height: 20px;
                    position: relative;
                    cursor: pointer;
                    margin-left: 20px;
    
                    &::after {
                        position: absolute;
                        content: '';
                        width: 100%;
                        height: 2px;
                        background-color: #2E9C3E;
                        left: 0;
                        top: 0;
                    }
    
                    &::before {
                        position: absolute;
                        content: '';
                        width: 100%;
                        height: 2px;
                        background-color: #2E9C3E;
                        left: 0;
                        top: 100%;
                    }
    
                    .nav__button-span {
                        width: 100%;
                        height: 2px;
                        background-color: #2E9C3E;
                        position: absolute;
                        left: 0;
                        top: 50%;
    
                    }
    
                }
    
            }

            @media only screen and (max-width: 700px) {
                .nav__button {
                    margin: 0;
    
                }
    
            }

        }

        @media only screen and (max-width: 600px) {
            .nav__buuton-wrapper {
                position: absolute;
                right: 30px;
                top: 30px;
            }

        }

    }

    .header__nav {

        .nav__list {
            display: flex;
            justify-content: space-between;
            align-items: center;
            position: relative;
            transition: 0.5s;

            .nav__buuton-wrapper {
                position: absolute;
                right: 30px;
                top: 30px;
        
                .nav__button-close {
                    width: 30px;
                    height: 20px;
                    position: relative;
                    cursor: pointer;
    
                    &::after {
                        position: absolute;
                        content: '';
                        width: 100%;
                        height: 2px;
                        background-color: #2E9C3E;
                        left: 0;
                        bottom: 0;
                        transform: rotate(-45deg);

                    }
    
                    &::before {
                        position: absolute;
                        content: '';
                        width: 100%;
                        height: 2px;
                        background-color: #2E9C3E;
                        left: 0;
                        bottom: 0;
                        transform: rotate(45deg);

                    }
                }
            }

            .list__item-dark {
                margin-right: 40px;
                font-weight: 400;
                font-size: calc(8px + 10 * (100vw / 1920));
                line-height: 138%;
                font-size: 1.13rem;
                line-height: 1.56rem;
                color: white;

                &:hover {
                    color: #2E9C3E;
                }

            }

            .list__item-light {
                margin-right: 40px;
                font-weight: 400;
                font-size: calc(8px + 10 * (100vw / 1920));
                line-height: 138%;
                font-size: 1.13rem;
                line-height: 1.56rem;
                color: black;

                &:hover {
                    color: #2E9C3E;
                }

            }

        }

        @media only screen and (max-width: 1200px) {
            .nav__list {
                position: fixed;
                left: 0;
                top: 0;
                width: 100%;
                height: auto;
                display: flex;
                flex-direction: column-reverse;
                z-index: 200;
                transition: 0.5s;
                transform: translateY(-100%);
                border-bottom: 1px solid rgb(66, 66, 70);
                    
                .list__item-dark {
                    margin: 20px;

                    &:hover {
                        color: #2E9C3E;
                    }

                }

                .list__item-light {
                    margin: 20px;

                    &:hover {
                        color: #2E9C3E;
                    }

                }

            }

            .nav__list-open {
                transform: translateY(0%);
            }

        }

    }

    .header__setting {
        display: flex;

        .header__login {
            height: 3.13rem;
            padding: 0px 1.38rem;
            background: rgba(46, 156, 62, 0.05);
            border: 1px solid #2E9C3E;
            border-radius: 0.63rem;
            color: #2E9C3E;
            margin-left: 15px;
            font-weight: 400;
            font-size: calc(8px + 10 * (100vw / 1920));
            font-size: 1.13rem;
            line-height: 100%;

        }
        
        .setting__theme-dark {
            background: rgba(255, 255, 255, 0.05);
            border: 1px solid #424246;
        }

        .setting__theme-light {
            background: rgba(0, 0, 0, 0.05);
            border: 1px solid #D6D6D6;
        }

        .setting__theme {
            width: 3.44rem;
            height: 3.13rem;
            border-radius: 0.63rem;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-left: 0.94rem;

            .setting__theme-icon-dark {
                width: 1rem;
                height: 1rem;
                background-image: url(./images/themeDark.svg);
                background-size: cover;
            }

            .setting__theme-icon-light {
                width: 1rem;
                height: 1rem;
                background-image: url(./images/themeLight.svg);
                background-size: cover;
            }

        }

    }

}


@media only screen and (max-width: 1400px) {
    .header {
        // padding: 20px 5%;
    }

}




