.faqs-main-dark {
    background-color: black;
    color: white;
}

.faqs-main-light {
    background-color: white;
    color: black;
}

.faqs-main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: 0.5s;
}