.numbers-dark {
    background-color: black;
    color: white;
    border-bottom: 1px solid rgb(66, 66, 70);
}

.numbers-light {
    background-color: white;
    color: black;
    border-bottom: 1px solid #D6D6D6;
}

.numbers {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: calc(50px + 150 * (100vw / 1920));
    padding-bottom: calc(50px + 150 * (100vw / 1920));
    transition: 0.5s;
    

    .numbers__line-wrapper {
        width: 100%;
        height: auto;
        margin-top: 70px;
        overflow: hidden;
        position: relative;

        .left-shadow-dark {
            position: absolute;
            left: 0;
            top: 0;
            width: 20%;
            height: 100%;
            background: linear-gradient(to right, rgb(0, 0, 0), rgba(0, 0, 0, 0));
            z-index: 20;
            transition: 0.5s;

        }

        .left-shadow-light {
            position: absolute;
            left: 0;
            top: 0;
            width: 20%;
            height: 100%;
            background: linear-gradient(to right, rgb(255, 255, 255), rgba(0, 0, 0, 0));
            z-index: 20;
            transition: 0.5s;

        }

        .right-shadow-dark {
            position: absolute;
            right: 0;
            top: 0;
            width: 20%;
            height: 100%;
            background: linear-gradient(to left, rgb(0, 0, 0), rgba(0, 0, 0, 0));
            z-index: 20;
            transition: 0.5s;

        }

        .right-shadow-light {
            position: absolute;
            right: 0;
            top: 0;
            width: 20%;
            height: 100%;
            background: linear-gradient(to left, rgb(255, 255, 255), rgba(0, 0, 0, 0));
            z-index: 20;
            transition: 0.5s;

        }

        .numbers__line {
            width: 100%;
            height: auto;
            display: flex;
    
            .line-item {
                min-width: calc(292px + 100 * (100vw / 1920));
                height: calc(83px + 40 * (100vw / 1920));
                background: rgba(46, 156, 62, 0.05);
                border: 1px solid #2E9C3E;
                border-radius: 15px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                margin: 0 10px;
    
                .line-item__title {
                    font-weight: 500;
                    font-size: calc(16px + 20 * (100vw / 1920));
                    line-height: 43px;
                    color: #2E9C3E;
                    
                }
    
                .line-item__text-dark {
                    font-weight: 400;
                    font-size: calc(15px + 5 * (100vw / 1920));
                    line-height: 170%;
                    margin-top: calc(1px + 14 * (100vw / 1920));
                    color: rgba(255, 255, 255, 0.5);
    
                }
    
                .line-item__text-light {
                    font-weight: 400;
                    font-size: calc(15px + 5 * (100vw / 1920));
                    line-height: 170%;
                    margin-top: 15px;
                    color: rgba(0, 0, 0, 0.5);
    
                }
    
            }
    
        }

    }

}