@keyframes spawn {
    0% {
        transform: translateY(-50%) scale(0);
    } 
    100% {
        transform: translateY(0), scale(1);

    }

}

.backgroundd-modal {
    min-width: 100%;
    min-height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    z-index: 20;

    .modal-dark {
        background-color: black;
        color: white;
    }
    
    .modal-light {
        background-color: white;
        color: black;
    }

    .modal-register {
        width: auto;
        height: 500px;
        padding: 25px;
        margin-top: 50px;
        border: 1px solid #424246;
        border-radius: 15px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        animation-duration: 0.7s;
        animation-name: spawn;

        .modal__title {
            font-weight: 600;
            font-size: 1.75rem;
            line-height: 38.5%;
            margin-bottom: 30px;
            margin-right: 100px;
        }

        .modal__input {
            width: 270px;
            height: 50px;
            background: rgba(255, 255, 255, 0.05);
            border: 1px solid #424246;
            border-radius: 10px;
            margin-top: 15px;
            padding: 10px;
            color: #2E9C3E;

            &:focus {
                outline: 1px solid #2E9C3E;
            }

        }

        .modal__forgot-dark {
            margin-top: 15px;
            font-weight: 400;
            font-size: 0.75rem;
            line-height: 17px;
            color: rgba(255, 255, 255, 0.5);
            cursor: pointer;
        }

        .modal__forgot-light {
            margin-top: 15px;
            font-weight: 400;
            font-size: 0.75rem;
            line-height: 17px;
            color: rgba(0, 0, 0, 0.5);
            cursor: pointer;
        }

        .modal__login {
            margin-top: 130px;
            font-weight: 400;
            font-size: 0.75rem;
            line-height: 17px;
            opacity: 0.8;

            .modal__login-button {
                color: #2E9C3E;
                cursor: pointer;

            }

        }

        .modal__button {
            width: 270px;
            height: 40px;
            background: #2E9C3E;
            border: 1px solid #2E9C3E;
            border-radius: 10px;
            color: white;
            margin-top: 15px;

        }

    }

}