.media-dark {
    background-color: black;
    color: white;
}

.media-light {
    background-color: white;
    color: black;
}

.media {
    width: 100%;
    height: auto;
    border-bottom: 1px solid rgb(66, 66, 70);
    padding: 0 18%;
    padding-top: calc(50px + 180 * (100vw / 1920));
    padding-bottom: calc(50px + 150 * (100vw / 1920));
    transition: 0.5s;

    .media-description__title {
        font-weight: 500;
        font-size: calc(15px + 33 * (100vw / 1920));
        line-height: 125%;
    }

    @media only screen and (max-width: 600px) {
        .media-description__title {
            display: flex;
            justify-content: center;
    
        }
    
    }
    
}

@media only screen and (max-width: 600px) {
    .media {
        padding: 0 5%;
        padding-top: calc(20px + 180 * (100vw / 1920));
        padding-bottom: calc(50px + 150 * (100vw / 1920));

    }

}