.media-dark {
    background-color: black;
    color: white;
}

.media-light {
    background-color: white;
    color: black;
}

.media {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 14.62rem;
    padding-bottom: 12.5rem;
    transition: 0.5s;

    .media-description__title {
        font-weight: 500;
        font-size: 3rem;
        line-height: 125%;
    }

    .media-description__button {
        width: 11.62rem;
        height: 4.43rem;
        margin-top: 3.12rem;
        background: rgba(46, 156, 62, 0.05);
        border: 1px solid #2E9C3E;
        color: #2E9C3E;
        border-radius: 0.62rem;
    }

    @media only screen and (max-width: 600px) {
        .media-description__title {
            display: flex;
            justify-content: center;
    
        }
    
    }
    
}

