@media screen and (max-width: 1200px) and (min-width: 901px)  {

    .footer {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: 70px 5% 70px;

        .footer__nav {
            display: flex;
            justify-content: center;
        }

        .footer__download {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;

            .block__download {
                width: 50%;
                margin: 0;
                margin-top: 20px;
                display: flex;
                justify-content: center;

                .download__button {
                    margin: 10px;
    
                }

            }

        }
     
        .block__social {
            width: 100%;
            margin: 0;
            margin-top: 20px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;

            .download__title {
                width: 100%;
                text-align: center;
            }
    
            .social__button-wrapper {
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
            }

        }
   
    }

    .footer__other {
        display: flex;
        justify-content: center;
    }

}

@media screen and (max-width: 900px) and (min-width: 600px)  {
    .footer {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: 70px 5% 70px;

        .footer__nav {
            display: flex;
            justify-content: center;
        }

        .footer__download {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;

            .block__download {
                width: 70%;
                margin: 0;
                margin-top: 20px;
                display: flex;
                justify-content: center;

                .download__button {
                    margin: 10px;
    
                }

            }

        }

        .block__social {
            width: 100%;
            margin: 0;
            margin-top: 20px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;

            .download__title {
                width: 100%;
                text-align: center;
            }
    
            .social__button-wrapper {
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
            }

        }

    }

    .footer__other {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }

}

@media screen and (max-width: 600px) and (min-width: 200px)  {
    .footer {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: 70px 5% 70px;

        .footer__nav {
            display: flex;
            flex-direction: column;
            align-items: center;

            .nav__item-dark {
                margin: 0px;
    
            }
    
            .nav__item-light {
                margin: 0px;
    
            }
        }

        .footer__download {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;

            .download__title {
                font-weight: 400;
                font-size: 1.5rem;
    
            }

            .block__download {
                width: 100%;
                margin: 0;
                margin-top: 20px;
                display: flex;
                justify-content: center;

                .download__button {
                    margin: 10px;
    
                }

            }

        }

        .block__social {
            width: 100%;
            margin: 0;
            margin-top: 20px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;

            .download__title {
                width: 100%;
                text-align: center;
            }
    
            .social__button-wrapper {
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
            }

        }

    }

    .footer__other {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }

}