.description-dark {
    background-color: black;
    color: white;
    border-bottom: 1px solid rgb(66, 66, 70);
}

.description-light {
    background-color: white;
    color: black;
    border-bottom: 1px solid #D6D6D6;
}

.description {
    width: 100%;
    height: auto;
    padding-top: calc(150px + 100 * (100vw / 1920));
    padding-bottom: calc(100px + 100 * (100vw / 1920));
    transition: 0.5s;

    .description__block {
        width: 100%;
        height: auto;
        padding: 0px 18% 0px;
        display: flex;
        justify-content: space-between;

        .block__information {
            width: 40.70%;
            height: auto;
        
            .block__download {
                margin-top: 60px;
                display: flex;
    
                .download__button {
                    width: 150px;
                    height: 50px;
                    border-radius: 5px;
                    margin-right: 20px;
    
                }

                @media screen and (max-width: 1200px) {
                    .download__button {
                        margin: 0 20px;
        
                    }
                    
                }

                @media screen and (max-width: 600px) {
                    .download__button {
                        width: 120px;
                        height: 40px;
        
                    }
                    
                }

                .download__app-store {
                    background-image: url(./image/app-store.svg);
                    background-size: cover;
    
                }
    
                .download__google-play {
                    background-image: url(./image/google-play.svg);
                    background-size: cover;
    
                }
    
    
            }
            
        }

        @media screen and (max-width: 1200px) {
            .block__information {
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                margin-top: 50px;
            }
            
        }

        .block__image {
            width: 57.64%;
            height: calc(400px + 200 * (100vw / 1920));
            object-fit: contain;
            padding-top: 5%;
        }

        @media screen and (max-width: 1200px) {
            .block__image {
                width: 100%;
            }
            
        }

    }

    .description__partners {
        width: 100%;
        margin-top: calc(50px + 190 * (100vw / 1920));
        display: flex;
        flex-direction: column;
        align-items: center;

        .partners__title {
            font-weight: 500;
            font-size: calc(20px + 28 * (100vw / 1920));
            line-height: 125%;
        }
        
        @media only screen and (max-width: 1400px) {
            .partners__title {
                font-weight: 500;
                font-size: calc(17px + 20 * (100vw / 1920));
            }
        }

        .partners__line-wrapper {
            width: 100%;
            height: auto;
            overflow: hidden;
            margin-top: 40px;
            position: relative;

            .left-shadow-dark {
                position: absolute;
                left: 0;
                top: 0;
                width: 20%;
                height: 100%;
                background: linear-gradient(to right, rgb(0, 0, 0), rgba(0, 0, 0, 0));
                z-index: 20;
                transition: 0.5s;

            }

            .left-shadow-light {
                position: absolute;
                left: 0;
                top: 0;
                width: 20%;
                height: 100%;
                background: linear-gradient(to right, rgb(255, 255, 255), rgba(0, 0, 0, 0));
                z-index: 20;
                transition: 0.5s;

            }

            .right-shadow-dark {
                position: absolute;
                right: 0;
                top: 0;
                width: 20%;
                height: 100%;
                background: linear-gradient(to left, rgb(0, 0, 0), rgba(0, 0, 0, 0));
                z-index: 20;
                transition: 0.5s;

            }

            .right-shadow-light {
                position: absolute;
                right: 0;
                top: 0;
                width: 20%;
                height: 100%;
                background: linear-gradient(to left, rgb(255, 255, 255), rgba(0, 0, 0, 0));
                z-index: 20;
                transition: 0.5s;

            }

            .partners__line {
                width: 100%;
                height: auto;
                display: flex;
    
                .partners__item {
                    min-width: calc(189px + 100 * (100vw / 1920));
                    height: calc(73px + 60 * (100vw / 1920));
                    background: rgba(46, 156, 62, 0.05);
                    border: 1px solid #2E9C3E;
                    border-radius: 15px; 
                    margin: 0 10px;
                    padding: calc(15px + 25 * (100vw / 1920));
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    .partners__item-image {
                        width: 100%;
                        height: 100%;
                        object-fit: contain;
                    }
    
                }
    
            }

        }

    }

    @media screen and (max-width: 1200px) {
        .description__block {
            display: flex;
            flex-direction: column-reverse;
            align-items: center;
        }
        
    }

    
    @media screen and (max-width: 900px) {
        .description__block {
            display: flex;
            flex-direction: column-reverse;
            align-items: center;
            padding: 0px 5% 50px;
        }
        
    }

} 




