.description-dark {
    background-color: black;
    color: white;
}

.description-light {
    background-color: white;
    color: black;
}

.description {
    max-width: 76rem;
    height: auto;
    padding-top: 14.62rem;
    padding-bottom: 12.5rem;
    transition: 0.5s;

    .description__block {
        width: 100%;
        height: auto;
        display: flex;
        justify-content: space-between;

        .block__information {
            width: 32.19rem;
            height: auto;

            .description__h2 {
                width: 32.19rem;
            }

            .description__p {
                width: 30.94rem;
            }

            @media screen and (max-width: 1200px) {
                .description__h2 {
                    width: 100%;
                }
    
                .description__p {
                    width: 100%;
                }
                
            }
        
            .block__download {
                margin-top: 60px;
                display: flex;
    
                .download__button {
                    width: 7.5rem;
                    height: 2.5rem;
                    border-radius: 0.31rem;
                    margin-right: 1.25rem;
    
                }

                .download__android {
                    background-image: url(./image/android.svg);
                    background-size: cover;
                    
                }
    
                .download__google-play {
                    background-image: url(./image/google-play.svg);
                    background-size: cover;
    
                }
    
    
            }
            
        }

        @media screen and (max-width: 1200px) {
            .block__information {
                min-width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                margin-top: 50px;
            }
            
        }

        @media screen and (max-width: 700px) {
            .block__information {
                width: 50%;
    
            }
            
        }
    
        @media screen and (max-width: 550px) {
            .block__information {
                width: 30%;
    
            }
            
        }
        
        .block__image {
            width: 43.81rem;
            height: 40rem;
            object-fit: contain;
        }

        @media screen and (max-width: 1200px) {
            .block__image {
                width: 100%;
            }
            
        }

    }

    @media screen and (max-width: 1200px) {
        .description__block {
            display: flex;
            flex-direction: column-reverse;
            align-items: center;
        }
        
    }

} 

@media screen and (max-width: 1200px) {
    .description {
        width: 90%;
    }
    
}




