.news-dark {
    background-color: black;
    color: white;
}

.news-light {
    background-color: white;
    color: black;
}

.news {
    width: 100%;
    height: auto;
    border-bottom: 1px solid rgb(66, 66, 70);
    padding: 0 18%;
    padding-top: calc(50px + 180 * (100vw / 1920));
    padding-bottom: calc(50px + 150 * (100vw / 1920));
    transition: 0.5s;

    .news-block {
        width: 100%;
        display: flex;
        justify-content: space-between;

    }

    @media only screen and (max-width: 1400px) {
        .news-block {
            display: flex;
            flex-direction: column;
            align-items: center;
    
        }
    
    }
    
}

@media only screen and (max-width: 1400px) {
    .news {
        display: flex;
        flex-direction: column;
        align-items: center;

    }

}

@media only screen and (max-width: 600px) {
    .news {
        padding: 0 5%;
        padding-top: calc(130px + 200 * (100vw / 1920));
        padding-bottom: calc(50px + 150 * (100vw / 1920));

    }

}

