* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'SF UI Display', sans-serif;
}

li {
    list-style: none;
}

a{
    text-decoration: none;
}

button {
    cursor: pointer;
    transition: 0.3s;

    &:hover {
        transform: scale(1.05);
    }

    &:active {
        transform: scale(1);
    }

}

.background-dark {
    background: #1C1C1E;
    border: 1px solid #424246;
    border-radius: 10px;
    color: white;
}

.background-light {
    background: #F5F5F5;
    border: 1px solid #D6D6D6;
    border-radius: 10px;
    color: black;
}

.description__title {
    font-weight: 500;
    font-size: calc(15px + 30 * (100vw / 1920));
    line-height: 125%;

}

.description__text-dark {
    font-weight: 400;
    font-size: calc(10px + 10 * (100vw / 1920));
    line-height: 170%;
    margin-top: 10px;
    color: rgba(255, 255, 255, 0.5);

}

.description__text-light {
    font-weight: 400;
    font-size: calc(10px + 10 * (100vw / 1920));
    line-height: 170%;
    margin-top: 10px;
    color: rgba(0, 0, 0, 0.5);

}

@media only screen and (max-width: 600px) {
    .description__title {
        text-align: center;
    
    }
    
    .description__text-dark {
        text-align: center;
    
    }
    
    .description__text-light {
        text-align: center;
    
    }
}